body
{
	background-image:url("a5.JPG");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
h1
{
	color:white;
	text-align:center;
	font-size:60px;
	padding:50px 0;

}
.navbar
{
	overflow:hidden;
	background-color:#0B0B45;
	top:0;
	position:fixed;
	width:100%;
}
button
{
	background-color:transparent;
	padding: 8px 13px 6px;
	margin-bottom:7px;
	margin-top:7px;
	width:150px;
	text-align:center;
	border:none;
	color:white;
	
	
}p.para1
{
	font-size:50px;
	text-align:center;
	color:white;
	padding:0px 0;
}
p.para2
{
	text-align:center;
	color:white;
	font-size:30px;
}
p.para3
{
	text-align:center;
	color:white;
	font-size:20px;

}
p.para4
{
	text-align:center;
	color:white;
	font-size:25px;
}
.footer
{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	background-color:#ddd;
	background-image:url(a.JPG);
	background-repeat:no-repeat;
	background-size:cover;
	color:white;
	padding:20px;
	text-align:center;
	
	
}